<h2 mat-dialog-title>{{actionTitle}} мову</h2>

<mat-dialog-content>
    <form [formGroup]="formLang">
        <mat-grid-list cols="2" rowHeight="90px">
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline">
                    <mat-label style="margin-top: 5px;">Мова</mat-label>
                    <input matInput autocomplete="off" formControlName="name">
                    <mat-icon matSuffix>translate</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline">
                    <mat-label>Прапорець</mat-label>
                    <input matInput autocomplete="off" formControlName="flag">
                    <mat-icon matSuffix>flag</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Дволітерний код</mat-label>
                    <input matInput autocomplete="off" formControlName="code2">
                    <mat-icon matSuffix>filter_2</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Трилітерний код</mat-label>
                    <input matInput autocomplete="off" formControlName="code3">
                    <mat-icon matSuffix>filter_3</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline">
                    <mat-label>Країна</mat-label>
                    <mat-select formControlName="countryId">
                        <mat-option *ngFor="let item of listCountries" [value]="item.id">
                            <img with="20" height="14" [src]="getFlagUrl(item.flagUrl)" style="min-height: 14px; min-width: 20px; max-height: 14px; max-width: 20px;">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Скасувати</button>
    <button mat-raised-button color="primary" [disabled]="formLang.invalid" (click)="saveLanguage()">{{buttonAction}}</button>
</mat-dialog-actions>

